<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--th:replace="layout::site-head"-->
<head >
    <title>Admin Page</title>
    <head th:replace="layout::ad-site-header"/>
</head>

<body>
<!-- start: Header -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Baby Time</a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">

                    <!-- start: Message Dropdown -->
                    <li class="dropdown hidden-phone">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white envelope"></i>
                        </a>
                        <ul class="dropdown-menu messages">
                            <li class="dropdown-menu-title">
                                <span>Hộp thư đến</span>
                                <a href="#refresh"><i class="icon-repeat"></i></a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"/></span>
                                    <span class="header">
											<span class="from">
										    	Thanh An Nguyen
										     </span>
											<span class="time">
										    	6 min
										    </span>
										</span>
                                    <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"/></span>
                                    <span class="header">
											<span class="from">
										    	Duc Thai Tran
										     </span>
											<span class="time">
										    	56 min
										    </span>
										</span>
                                    <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-menu-sub-footer">View all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: Message Dropdown -->
                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> Thanh An Nguyen
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-title">
                                <span>Account Settings</span>
                            </li>
                            <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                            <li><a href="login.html"><i class="halflings-icon off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->

        </div>
    </div>
</div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li>
                        <a href="#"><i class="icon-dashboard"></i><span class="hidden-tablet"> Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="abc.html"><i class="icon-envelope"></i><span class="hidden-tablet"> Tin nhắn</span>
                        </a>
                    </li>

                    <li>
                        <a href="listpost"><i class="icon-edit"></i><span class="hidden-tablet"> Quản lý bài viết</span>
                        </a>
                    </li>
                    <li>
                        <a href="abc.html"><i class="icon-list-alt"></i><span class="hidden-tablet"> Quản lý video</span>
                        </a>
                    </li>
                    <li>
                        <a href="abc.html"><i class="icon-briefcase"></i><span class="hidden-tablet"> Quản lý chủ đề</span>
                        </a>
                    </li>

                    <li>
                        <a href="abc.html"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="abc.html"><i class="icon-folder-open"></i><span class="hidden-tablet"> Quản lý trang chủ</span>
                        </a>
                    </li>

                    <li>
                        <a href="abc.html"><i class="icon-lock"></i><span class="hidden-tablet"> Tài khoản</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>


        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">Bài viết</a></li>
            </ul>

            <div class="row-fluid sortable">
                <div class="box span14">
                    <div class="box-header" >
                        <h2><i class="icon-barcode"></i><span class="break"></span>Bài viết</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead >
                            <tr >
                                <th>Id</th>
                                <th>Tiêu đề</th>
                                <th>Chủ đề</th>
                                <th>Ngày tạo</th>
                                <th>Status</th>
                                <th>Mới/Cũ</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr th:each="p:${postbais}">
                                <td class="center" th:text="${p.id}"></td>
                                <td class="center" th:text="${p.tenbaiviet}"></td>
                                <td class="center" th:text="${p.id_chude.tenchude}"></td>
                                <td class="center" th:text="${p.ngaytao}"></td>
                                <td class="center" th:text="${p.status}"></td>
                                <td class="center" th:text="${p.moi}"></td>
                                <td class="center">
                                    <a class="btn btn-success" href="#">
                                        <i class="halflings-icon white zoom-in"></i>
                                    </a>
                                    <a class="btn btn-info" href="#">
                                        <i class="halflings-icon white edit"></i>
                                    </a>
                                    <a class="btn btn-danger" href="#">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                                </td>
                            </tr>



                            </tbody>
                        </table>
                    </div>
                </div><!--/span-->

            </div><!--/row-->

        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->

    <!--/row-->
</div><!--/.fluid-container-->

<!-- end: Content -->



<div class="clearfix"></div>


<footer th:replace="layout::ad-site-footer">

</footer>
<section th:replace="layout::ad-script-footer">

</section>
</body>
</html>